/* import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--blue: #4EA5D9;
	--white: #F4ECD6;
	--green: #514B23;
	--brown: #A37871;
	--black: #32292F;
}

* {
	font-family: "Roboto", sans-serif;
}

html {
	background-color: var(--black);
	color: var(--white);
}

body {
	margin: 0;
	padding: 0;
}

#top-bar ul {
	list-style: none;
	background-color: var(--green);
	margin: 0;
	padding-left: 1rem;
}

#top-bar li {
	display: inline;
}

#top-bar a {
	color: var(--blue);
}

p, h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

a:link, a:visited {
	color: var(--brown);
	text-decoration: none;
}

a:hover {
	color: var(--blue);
	text-decoration: underline;
}

